html {
    min-height: 100vh;
}

body {
    font-family: 'Montserrat', sans-serif !important;
}

.hover-none:hover {
    cursor: auto !important;
}

.underline-none:hover {
    text-decoration: none !important;
}

.underline-none {
    text-decoration: none !important;
}

.user-img img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.user-side-card {
    top: 80px;
    margin-top: 16px;
    position: -webkit-sticky !important;
    position: sticky !important;
    height: fit-content;
    padding: 20px 0;
}

#logo {
    background-color: #f09001;
    opacity: .8;
    font-weight: 600;
    color: white !important;
    padding: 0 15px;
    border-radius: 6px;
}

#logo:hover {
    opacity: 1;
    background-color: #f09001;
    font-weight: 600;
    color: white !important;
    padding: 0 15px;
    border-radius: 6px;
}

a.no-link-decoration {
    color: rgb(29, 29, 29) !important;
}
a.no-link-decoration:hover {
    color: rgb(218, 218, 218) !important;
    text-decoration: none;
}


.btnLike{
    cursor: pointer;
    outline: 0;
    color: #AAA;

}

.btnLike:focus {
    outline: none;
}

.green{
    color: rgb(49, 131, 49);
}

.red{
    color: rgb(252, 39, 39);
}

.orange {
    color: rgb(253, 86, 25);
}

/** profile posts css **/
.post-title {
background-color: #d9d9d9;
color: #000;
}
.post-body {
max-height: 80px;
overflow: hidden;
background-color: #f7f7f7;
color: #141414;
}
.no-hover-decoration:hover{
text-decoration: none !important;
}
.orange {
    color: #fd7e14;
}

.bg-orange {
    background-color: #fd7e14;
}

.btn-msg-inactive {
}

.btn-msg-active {
    border: 1px solid rgb(110, 173, 255) !important;
    background-color: rgb(6, 86, 190) !important;
    color: white;
}

.menu-messagerie {
    padding: 10px 0;
}
.menu-messagerie div {
    font-size: .9rem;
}

.menu-messagerie div:hover {
    cursor: pointer;
}


/******************************
**
**      Messagerie autocomplete destinataire
**      https://codepen.io/massimo-cassandro/pen/NqRmMe
**
******************************/
ul.bs-autocomplete-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    z-index: 9999;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
  }
  
  ul.bs-autocomplete-menu a {
    font-weight: normal;
    color: #333333;
  }
  
  .ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .ui-state-active,
  .ui-state-focus {
    color: #23527c;
    background-color: #eeeeee;
  }
  
  .bs-autocomplete-feedback {
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    margin-top: .5em;
    margin-right: .5em;
  }
  
  .loader {
    font-size: 10px;
    text-indent: -9999em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #333;
    background: -moz-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #333333 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  .loader:before {
    width: 50%;
    height: 50%;
    background: #333;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  
  .loader:after {
    background: #fff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }