html {
    min-height: 100vh;
}

body {
    font-family: 'Montserrat', sans-serif !important;
}

.hover-none:hover {
    cursor: auto !important;
}

.underline-none:hover {
    text-decoration: none !important;
}

.underline-none {
    text-decoration: none !important;
}

.user-img img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.user-side-card {
    top: 80px;
    margin-top: 16px;
    position: -webkit-sticky !important;
    position: sticky !important;
    height: fit-content;
    padding: 20px 0;
}

#logo {
    background-color: #f09001;
    opacity: .8;
    font-weight: 600;
    color: white !important;
    padding: 0 15px;
    border-radius: 6px;
}

#logo:hover {
    opacity: 1;
    background-color: #f09001;
    font-weight: 600;
    color: white !important;
    padding: 0 15px;
    border-radius: 6px;
}

a.no-link-decoration {
    color: rgb(29, 29, 29) !important;
}
a.no-link-decoration:hover {
    color: rgb(218, 218, 218) !important;
    text-decoration: none;
}


.btnLike{
    cursor: pointer;
    outline: 0;
    color: #AAA;

}

.btnLike:focus {
    outline: none;
}

.green{
    color: green;
}

.red{
    color: red;
}

/** profile posts css **/
.post-title {
background-color: #d9d9d9;
color: #000;
}
.post-body {
max-height: 80px;
overflow: hidden;
background-color: #f7f7f7;
color: #141414;
}
.no-hover-decoration:hover{
text-decoration: none !important;
.orange {
    color: #fd7e14;
}

.bg-orange {
    background-color: #fd7e14;
}

.btn-msg-inactive {
    border: 1px solid grey;
}

.menu-messagerie {
    padding: 10px 0;
}
.menu-messagerie div {
    font-size: .9rem;
}

.menu-messagerie div:hover {
    cursor: pointer;
}
